.ui-ightmleditor,.ui-widget .ui-ightmleditor{font-size:13px}
.ui-ightmleditor-content{padding:0 7px 0 5px;position:relative}
.ui-ightmleditor-content iframe{background-color:white;background-image:none;border-width:1px;display:block;width:100%;position:relative;margin:0}
.ui-ightmleditor-content textarea{resize:none;border-width:1px;display:block;width:100%;padding:0;margin:0;overflow:auto;overflow-x:auto;overflow-y:auto}
.ui-ightmleditor-content>div{background-color:white;margin:5px;padding:5px;border-top-width:2px;border-right-width:2px;border-bottom-width:2px;border-left-width:2px;border-top-color:#333;border-right-color:#333;border-bottom-color:#333;border-left-color:#333;border-top-style:inset;border-left-style:inset;overflow:auto}
.ui-ightmleditor .ui-igtoolbars-holder{padding:0 .3em;display:block;margin:.3em}
.ui-ightmleditor .ui-igtoolbar{margin:.3em .3em 0 0}
.ui-ightmleditor .ui-igtoolbar .ui-button{width:18px;height:18px;margin-left:4px}
.ui-ightmleditor .ui-button.ui-state-hover .ui-button-text{box-shadow:none}
.ui-ightmleditor .ui-igtoolbar>.ui-button:first-child{margin-left:0}
.ui-ightmleditor .ui-igtoolbar .ui-igcombo{vertical-align:top;margin:0 0 0 4px}
.ui-ightmleditor .ui-igtoolbar{white-space:nowrap}
.ui-ightmleditor .ui-igtoolbar .ui-button-text,.ui-ightmleditor .ui-igPathFinder .ui-button-text{padding-bottom:2px;padding-left:6px;padding-right:6px;padding-top:2px}
.ui-ightmleditor .ui-button-icon-only .ui-button-text{padding:0}
.ui-igbutton .ui-igbutton-collapse{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 0}
.ui-igbutton .ui-igbutton-expand{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -16px}
.ui-igbutton .ui-igbutton-redo{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -32px}
.ui-igbutton .ui-igbutton-undo{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -48px}
.ui-igbutton .ui-igbutton-increasefontsize{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -80px}
.ui-igbutton .ui-igbutton-decreasefontsize{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -96px}
.ui-igbutton .ui-igbutton-viewsource-icon{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -160px}
.ui-igbutton .ui-igbutton-html{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -112px}
.ui-igbutton .ui-igbutton-html-add{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -128px}
.ui-igbutton .ui-igbutton-html-delete{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -144px}
.ui-igbutton .ui-igbutton-html-valid{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -176px}
.ui-igbutton .ui-igbutton-addimage{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -192px}
.ui-igbutton .ui-igbutton-link{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -208px}
.ui-igbutton .ui-igbutton-addlink{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -224px}
.ui-igbutton .ui-igbutton-unlink{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -240px}
.ui-igbutton .ui-igbutton-copy{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -256px}
.ui-igbutton .ui-igbutton-cut{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -272px}
.ui-igbutton .ui-igbutton-paste{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -288px}
.ui-igbutton .ui-igbutton-table{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -304px}
.ui-igbutton .ui-igbutton-addrow{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -320px}
.ui-igbutton .ui-igbutton-addcolumn{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -336px}
.ui-igbutton .ui-igbutton-removerow{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -352px}
.ui-igbutton .ui-igbutton-removecolumn{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -368px}
.ui-igbutton .ui-igbutton-justifyleft{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -384px}
.ui-igbutton .ui-igbutton-justifycenter{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -400px}
.ui-igbutton .ui-igbutton-justifyright{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -416px}
.ui-igbutton .ui-igbutton-justifyfull{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -432px}
.ui-igbutton .ui-igbutton-forecolor{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -448px}
.ui-igbutton .ui-igbutton-backcolor{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -464px}
.ui-igbutton .ui-igbutton-bold{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -480px}
.ui-igbutton .ui-igbutton-italic{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -496px}
.ui-igbutton .ui-igbutton-underline{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -512px}
.ui-igbutton .ui-igbutton-strikethrough{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -528px}
.ui-igbutton .ui-igbutton-horizontalrule{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -544px}
.ui-igbutton .ui-igbutton-indent{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -560px}
.ui-igbutton .ui-igbutton-removeindent{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -576px}
.ui-igbutton .ui-igbutton-unorderedlist{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -592px}
.ui-igbutton .ui-igbutton-orderedlist{background-image:url(../images/igHtmlEditor/html-editor-sprite.png);background-position:0 -608px}
.ui-igbutton .ui-igbutton-forecolor,.ui-igbutton .ui-igbutton-backcolor{height:13px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.ui-igbutton .ui-igbutton-forecolor{border-bottom:3px solid #000}
.ui-igbutton .ui-igbutton-backcolor{border-bottom:3px solid transparent}
.ui-igTablePropertiesDialog-fields{list-style:none outside none;margin:3px 15px;padding:0}
.ui-igTablePropertiesDialog-fields li{width:50%;float:left;padding-bottom:4px}
.ui-igTablePropertiesDialog-fields label{display:block;font-weight:bold;padding-bottom:2px}
.ui-ightmleditor .ui-igbutton-viewsource{display:inline-block;margin:5px;height:18px;float:left}
.ui-igPathFinder{margin:5px;font-size:.75em}
.ui-igPathFinder .ui-button{height:18px;padding:0;margin:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.ui-igPathFinder ul{padding:0;margin:0;list-style:none;width:100%}
.ui-igPathFinder li{padding:0 3px;float:left;margin:0 2px;cursor:pointer}
.ui-ightmleditor .ui-igtooltip .ui-igtooltip-arrow-top{background-image:none}
.ui-ightmleditor-dialog .ui-igdialog-content{padding:1em}
.ui-ightmleditor-dialog .layoutList label{display:inline-block;line-height:.8em;vertical-align:top}
.ui-ightmleditor-dialog .layoutList{margin:0;padding:0}
.ui-ightmleditor-dialog .layoutList li{list-style:none;padding:5px;margin:0;display:block}
.ui-ightmleditor-dialog .layoutList input{display:inline-block;width:100%;margin-bottom:.5em}
.ui-ightmleditor-dialog .layoutList select{display:block;width:100%;margin-bottom:.5em}
.ui-igimagepropertiesdialog label{line-height:1.91em;padding-right:3px;vertical-align:middle}
.ui-igimagepropertiesdialog-size-lbls{float:left;width:20%}
.image-dialog div{padding-bottom:7px}
.ui-igimagepropertiesdialog-aspect-ratio{left:142px;position:absolute;top:123px}
.ui-igimagepropertiesdialog-form{position:relative;padding:5px}
.ui-igimagepropertiesdialog-form label{display:block}
.ui-igimagepropertiesdialog-form-input{width:228px}
#imagePreview{text-align:center}
#imageSrc{width:239px}
.ui-igtablepropertiesdialog-cols-rows-num{float:left}
.ui-igtablepropertiesdialog-cols-rows-num input{width:44px}
.ui-igtablepropertiesdialog-sample-table td{height:10px;width:10px;cursor:pointer;background-color:white}
.ui-splitbutton-list{position:absolute;display:none;overflow:hidden;z-index:9999}
.ui-splitbutton-list .ui-igbutton{display:block}
.ui-splitbutton-list .ui-menu-item a.ui-state-default{border:1px solid}
.ui-splitbutton-list .ui-menu-item a.ui-state-default,.ui-splitbutton-list .ui-menu-item a.ui-state-hover,.ui-splitbutton-list .ui-menu-item a.ui-state-focus{margin:0;box-shadow:none}
.ui-splitbutton{display:inline-block;letter-spacing:-4px;word-spacing:-4px}
.ui-splitbutton .ui-splitbutton-cleargaps{letter-spacing:normal;word-spacing:normal;margin-right:0}
.ui-splitbutton .ui-button-text{padding:0}
.ui-ightmleditor .ui-splitbutton .ui-button.ui-splitbutton-arrow{margin-left:0;width:10px}
.ui-splitbutton-hidden-input{background:none repeat scroll 0 0 transparent;border:0 none;height:1px;left:1px;outline:medium none;position:absolute;top:1px;width:1px;z-index:0}
.ui-igColorPicker{padding:5px 0}
.ui-igColorPicker{width:200px}
.ui-igColorPicker .color-table,.ui-igtoolbar .color-table ul,.color-table ul{padding:0;margin:0;list-style:none outside none;line-height:1%}
.ui-igColorPicker .color-table li{display:inline-block;margin:0;zoom:1;*display:inline}
.ui-igColorPicker .color{display:inline-block;height:16px;width:16px;border:1px solid #CDCDCD;margin:1px}
.ui-igColorPicker .color-table .color-table-first-row{margin-bottom:10px}
.ui-igColorPicker .color-table .ui-colorpicker-standardcolors{margin-top:10px}
.ui-igColorPicker .color-table a{outline:0;display:block}
.ui-igColorPicker .color-table .selected-color{border:1px dotted black;background-image:url(../images/igHtmlEditor/check.png);background-position:center center;background-repeat:no-repeat}
.ui-ightmleditor .ui-igtoolbar .ui-igcombo{height:20px}
.ui-ightmleditor .ui-igcombo-list{height:auto!important}
.ui-ightmleditor .ui-igcombo-list li{height:auto!important;width:100%!important}
.ui-ightmleditor .ui-combo-fontfamily .ui-igcombo-list{font-size:1em;line-height:1.8em}
.ui-ightmleditor .ui-splitbutton .ui-effects-wrapper{display:block}
.touch .ui-ightmleditor .ui-igtoolbar .ui-button,.touch .ui-igColorPicker .color{height:44px;width:44px}
.touch .ui-igColorPicker{width:480px}
.touch .ui-igPathFinder{font-size:1em}
.touch .ui-ightmleditor .ui-igtoolbar .ui-igcombo,.touch .ui-ightmleditor-dialog .ui-igcombo{height:46px}
.touch .ui-ightmleditor .ui-igcombo-list li{height:44px!important;width:100%!important}
.touch .ui-combo-fontfamily li{line-height:44px!important}
.touch .ui-ightmleditor .ui-igbutton-viewsource,.touch .ui-igPathFinder .ui-button{height:44px}
.ui-igtrialwatermark{width:160px;height:20px;background-image:url(../images/trial.png);opacity:.25;filter:alpha(opacity=25);-ms-filter:"alpha(opacity=25)";-khtml-opacity:.25;-moz-opacity:.25}