/*
    Styles for individual tiles. There are different styles for each tile 
    for the three predefined views of the dashboard.
*/
/*#tilePatients 
{
}

#tileVitals 
{
    margin-left: 20px;
}
        
#tileTests
{
    width: 940px;
}

#tileOrders
{
    visibility: hidden;
}*/